* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: darkred;
}

.center {
  text-align: center;
}

.main {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.main h1 {
  text-align: center;
}

nav {
  display: block;
  background: black;
  color: white;
  height: 6.5rem;
}

.nav-links a {
  display: inline-block;
  line-height: 2rem;
}

.current-page {
  color: darkred;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* if mobile */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
  .main {
    margin: 0 2rem;
    font-size: 1rem;
  }

  .main a {
    font-size: 1.2rem;
  }

  nav {
    text-align: center;
  }

  .nav-logo {
    height: 3.5rem;
    margin-top: 0.5rem;
  }

  .nav-links {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
  }

  .nav-links a {
    padding: 0 0.2rem;
  }

  .mobile-hide {
    display: none;
  }

  .text {
    font-size: 2rem;
  }
}

/* if desktop */
@media (min-aspect-ratio: 1/1) {
  .main {
    margin: 0 8rem;
    font-size: 1.2rem;
  }

  .main a {
    font-size: 1.4rem;
  }

  nav {
    width: 100%;
    min-height: 6.5rem;
    display: inline-block;
  }

  .nav-logo {
    height: 5rem;
    margin-left: 2rem;
    margin-top: 0.75rem;
  }

  .nav-links {
    position: relative;
    float: right;
    padding: 1.6rem 1.2rem;
    font-size: 1.8rem;
  }

  .nav-links a {
    padding: 0.5rem 0.4rem 0.5rem;
  }

  .text {
    font-size: 3rem;
  }
}
