.main {
  margin: 0;
  padding: 0;
}

.content {
  color: white;
}

.diagonal-box {
  background-image: linear-gradient(to right, red, blue);
  transform: skewY(-5deg);
}

.diagonal {
  transform: skewY(5deg);
  color: black;
}

.content a {
  color: blue;
}

.content a:hover {
  color: red;
}

.role-block-container {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.role-block {
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0 1rem;
}

.role-block:hover {
  background-image: linear-gradient(to bottom, red, blue);
  color: black;
}

.role-block img {
  border: 1px solid black;
  border-radius: 1rem;
  width: 18rem;
  margin-top: 0.5rem;
}

.team-block-container {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.team-block {
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
}

.team-block:hover {
  background-color: white;
}

.team-block h2 {
  font-size: 3rem;
}

#paradigm-team-block {
  background-image: radial-gradient(at bottom right, orange, blue);
  color: black;
}

#paradigm-team-block:hover {
  background-image: radial-gradient(at bottom right, blue, orange);
  color: white;
}

#firefly-team-block {
  background-image: radial-gradient(at bottom left, orange, red);
  color: black;
}

#firefly-team-block:hover {
  background-image: radial-gradient(at bottom left, red, orange);
  color: white;
}

#vertigo-team-block {
  background-image: radial-gradient(at top right, orange, green);
  color: black;
}

#vertigo-team-block:hover {
  background-image: radial-gradient(at top right, green, orange);
  color: white;
}

#team4-team-block {
  background-image: radial-gradient(at top left, orange, purple);
  color: black;
}

#team4-team-block:hover {
  background-image: radial-gradient(at top left, purple, orange);
  color: white;
}

/* if mobile */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
  .content {
    padding: 0 5rem;
  }

  .diagonal-box {
    margin: 3em 0;
    padding: 2em 0;
  }

  .role-block-container {
    grid-template-columns: repeat(1, 20rem);
  }

  .team-block-container {
    grid-template-columns: repeat(1, 20rem);
  }
}

/* if desktop */
@media (min-aspect-ratio: 1/1) {
  .with-sidebar {
    margin-left: 15rem;
  }

  .content {
    padding: 0 10rem;
  }

  .diagonal-box {
    margin: 5em 0;
    padding: 4em 0;
  }

  .role-block-container {
    grid-template-columns: repeat(3, 20rem);
  }

  .team-block-container {
    grid-template-columns: repeat(2, 30rem);
  }
}
